.mytitle{
  color: red;
}

/* Navbar styles */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.navbar-brand {
  font-size: 24px;
  color: #333;
}

/* Swiper container */
.swiper-container {
  width: 100%;
  height: 400px;
  margin-top: 20px; /* Adjust as needed */
}

/* Swiper slide image */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Pagination styles */
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 0.5;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.small-header {
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease; 
}

.small-header.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar.scrolled {
  transform: translateY(-100%);
  opacity: 0;
}

.small-header.dark-mode {
  background-color: #333; /* Dark background color */
}

.small-header.light-mode {
  background-color: #fff; /* Light background color */
}

.small-header.text-light {
  transition: color 0.3s ease;
}

.small-header.text-dark {
  transition: color 0.3s ease;
}