/* General styles */
.mytitle {
  color: red;
}

/* Navbar styles */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar-brand {
  font-size: 24px;
  color: #333;
  letter-spacing: 10px;
  margin-left: 50px;
 
}

/* Swiper container */
.swiper-container {
  width: 100%;
  height: 400px;
  margin-top: 10px; /* Adjust as needed */
}

/* Swiper slide image */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Pagination styles */
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 0.5;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* Small header */
.small-header {
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
  letter-spacing: 1px;
 
}

.small-header.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.small-header.dark-mode {
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
}

.small-header.light-mode {
  background-color: #fff; /* Light background color */
  color: #333; /* Dark text color */
}



.page-background {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 5px; /* Note: CSS properties with hyphens should be written in camelCase in JavaScript */
}
