/* Gallery.css */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
    gap: 16px; /* Adjust the gap between grid items */
  }
  
  .grid-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .h1{
    font-size: 3rem;
    text-align: center;
    position: relative;
  display: inline-block;
 
  }