/* General Styles */
.main-card {
  display: flex;
  align-items: center;
  justify-content: center;
 margin-top: auto;
 background-color: transparent;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  
}

/* Background Styles */
.background-image {
  background-image: url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
 margin-top: 30%;
}

/* Title Styles */
.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before, .title::after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 50%;
  left: 0;
  background-color: royalblue;
}

.title::after {
  animation: pulse 1s linear infinite;
}
.form-heading {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}
/* Input Styles */
.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

/* Submit Button Styles */
.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #2a08eb;
  font-size: 16px;
  transition: transform 0.3s ease;
  margin-left: 100px;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
  transform: scale(1.05);
}

/* Pulse Animation */
@keyframes pulse {
  from {
      transform: scale(0.9);
      opacity: 1;
  }
  to {
      transform: scale(1.8);
      opacity: 0;
  }
}

/* Signin Button Styles */
.signinbutton {
 margin-left: 40%;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.signinbutton:hover {
  border-color: #fff9;
}

.signinbutton::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}

/* Shine Animation */
@keyframes shine {
  0% {
      left: -100px;
  }
  60% {
      left: 100%;
  }
  to {
      left: 100%;
  }
}

/* Custom File Upload Styles */
.custum-file-upload {
  height: 200px;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
  margin-left: 120px;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}
